.patient-view-container {
    /* background: #d3d3d3; */
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    font-size: 16px;
}

.patient-view {
    width: 70%;
}

.patient-view-selection {
    margin-top: 100px;
}