.details-view-container > h2 {
    margin-top: 30px;
}

.details-view-info-container {
    padding: 0 10px 0 10px;
}

.details-view-info-container > h3 {
    text-align: left;
}

.details-view__label-selection-element {
    display: flex;
}

.details-view-label {
    margin-right: 30px;
}

.details-view__diag-row {
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/*Poly Somno Data View*/

.poly-data-table {
    border: none !important;
    margin-top: 20px;
}

.poly-data-table-tr {
    border: none !important;
}

.poly-data-table-td {
    border: none !important;
}

.poly-data-value {
    text-align: right;
}

.poly-data-other {
    text-align: left;
}

.poly-data-title {
    font-weight: bold;
}