.details-view-container {
    display: flex;
    flex-direction: column;
}

.details-view-container > h2 {
    margin-top: 30px;
}

.details-view-info-container {
    padding: 0 10px 0 10px;
}

.details-view-info-container > h3 {
    text-align: left;
}

.details-view__label-selection-element {
    display: flex;
}

.details-view-label {
    margin-right: 30px;
    display: flex;
    align-items: center;
}

/*Diagnosis Area*/

.details-view__diag-row {
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/*Poly Somno Data View*/

.details-view__poly-data-area {
    margin-left: 10px;
}

.poly-data-table {
    border: none !important;
    margin-top: 20px;
    width: 100%;
}

.poly-data-table-tr {
    border: none !important;
    height: 30px;
}

.poly-data-table-td {
    border: none !important;
}

.poly-data-value {
    text-align: right;
}

.poly-data-other {
    text-align: left;
}

.poly-data-title {
    font-weight: bold;
}

/**/

.section-beginning {
    margin-top: 40px;
}

.spacer {
    min-width: 150px;
}

.details-view__no-list-div {
    background-color: #f5f8fa;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
    border: 0.2px solid #eee;
    border-radius: 4px;
    padding: 5px 10px 5px 10px;
    font-size: 14px;
    box-shadow: inset 0 0 0 1px rgb(16 22 26 / 20%), inset 0 -1px 0 rgb(16 22 26 / 10%);
}

/**/

.diag-entry {
    min-width: 300px;
}